.el-header, .el-footer {
      background-color: #B3C0D1;
      color: #333;
      text-align: center;
      line-height: 60px;
      width:400px;
    }
 
 .el-main {
   background-color: #E9EEF3;
   color: #333;
   text-align: center;
   line-height: 160px;
   width:400px;
 }
 
 body > .el-container {
   margin-bottom: 40px;
 }
 
 .el-container:nth-child(5) .el-aside,
 .el-container:nth-child(6) .el-aside {
   line-height: 260px;
 }
 
 .el-container:nth-child(7) .el-aside {
   line-height: 320px;
 }

.flex-container {
   display: -webkit-flex;
   display: flex;
   width: 400px;
   height:54px;
   background-color:#333;
}
.flex-item {
   width: 200px;
   height: 200px;
   margin: 5px;
}

.top a{
   float:left;
   display:block;
   color:#f2f2f2;
   text-align:center;
   text-decoration:none; 
   padding:18px 25px;
}
.top a:hover{
   background-color:#ddd;
   color:black;

}
